/*引用normalize.css*/
/*normalize.css对浏览器默认样式进行统一
reset.css去除浏览器默认样式*/
@import "./normalize.css";
@import "./reset.css";

/*配置一些变量，用于样式引用*/
/*:root -> 伪类选择器：获取根元素html*/
:root {
  --color-text: #666;
  --color-background: #fff;
  --color-high-text: #6f90fc;
  --color-tint: #8aa5fc;/*背景颜色：导航等*/
  --font-size: 14px;
  --line-height: 1.5;
}

/*去除默认样式，其实有了reset.css可以省去这一步*/
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  /*宽度和高度用来设置整个盒子可见框的大小（内容区+内边距+边框）*/
  box-sizing: border-box;
}

body {
  font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
  user-select: none;/*禁止用户鼠标在页面上选中文字图片等*/
  /*将默认的点击高亮设置为透明*/
  /*webkit是苹果浏览器引擎，tap点击，highlight背景高亮，color颜色用数值调节*/
  -webkit-tab-hightlight-color: transparent;
  color: var(--color-text);
  width: 100vw;/* 100vw一个视口宽度 */
}

a {
  color: var(--color-text);
  text-decoration: none;/*文本修饰，去掉超链接下划线*/
}

/*解决浮动引起的高度塌陷
.clearfix::after {
  content: '';
  display: block;
  clear: both;
  width: 0;
  height: 0;
  visibility: hidden;元素不在页面中显示，但仍占据页面位置
}*/

/*解决浮动引起的高度塌陷以及外边距重叠*/
.clearfix::before,
.clearfix::after {
  content: '';
  display: table;
  clear: both;
}

/*针对IE低版本浏览器*/
.clearfix {
  /*zoom的作用是设置或检索对象的缩放比例，
  zoom:1可以在低版本IE下触发IE浏览器的haslayout，
  用于清除浮动，解决margin导致的重叠等问题*/
  zoom: 1;
}

